<section id="about" class="about">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <p class="heading">About me</p>
        <hr class="small">
        <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="service-item">
                <img class="img-head" src="img/head.jpg">
                <h4>
                  <strong>Simon Butscher</strong>
                </h4>
                <p>Dr. ret. nat.</p>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12">
              <div class="about-item">
                <h4>
                  <strong>Affiliation & Field of Activity</strong>
                </h4>
                <p>Since 2018 I am a Postdoctoral Researcher at the Human-computer Interaction Group of the University of Konstanz. My core research interests are human-computer interaction, usability research, reality-based interfaces, and information visualization. Beyond research, my field of activity ranges from the project lead of third-party projects to teaching activities and the supervision of student research projects. In addition, I have been working as a Freelancer in the field of Software/Database/Data Warehouse Engineering for over 12 years now.</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-12">
              <div class="about-item">
                <h4>
                  <strong>CV</strong>
                </h4>
                <p>Between 2012 and 2018 I worked as a Research Associate in the Human-computer Interaction Group of the University of Konstanz. Before that, I studied Information Engineering/Computer Science at the University of Konstanz and received my M.Sc. in 2012. During my master studies, I worked as an intern in the field of UX Design at Siemens AG, Corporate Unit Technology. Between 2008 and 2012 I studied Economic Computer Science at the Baden-Wuerttemberg Cooperative State University in Ravensburg and was awarded a Diploma/B.Sc degree. During these studies, I worked at the Systema Deutschland GmbH as a Software Engineer.</p>
              </div>
          </div>
          <div class="col-md-4 col-sm-12">
              <div class="about-item">
                  <h4>
                    <strong>Dr. rer. nat.</strong>
                  </h4>
                  <p>I received my Dr. rer. nat. from the University of Konstanz, Germany under the supervision of Prof. Dr. Harald Reiterer (University of Konstanz, Germany) and Prof. Dr. Kasper Hornbæk (University of Copenhagen, Denmark). My dissertation is titled "Reality-based Idioms: Designing Interfaces for Visual Data Analysis that Provide the Means for Familiar Interaction."</p>
                </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
