<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>I am ...</h2>
        <p class="lead">... a computer scientist with a focus on information engineering and interaction design. During several years in academia and industry, I gained experience in requirements analysis, interface design, software and database engineering, machine learning, data analysis, and data visualization. In general, I am passionate about learning new methods, tools, techniques, and technologies which can help to make the interaction with computing system a better experience.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
