<aside id="phd" class="phd">
    <div class="text-vertical-center">
        <p class="heading">Dissertation</p>
        <hr class="small">
      <!--<h1 class="header_h">Dissertation</h1>-->
      <a target="_blank" rel="noopener noreferrer" href="/home/downloads/Dissertation_Butscher.pdf" class="btn btn-dark">READ IT</a>
    </div>
  </aside>

<section>
    <div class="container">
        <div class="row text-center">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                  <h2>Reality-based Idioms:</h2>
                  <h3>Designing Interfaces for Visual Data Analysis that Provide the Means for Familiar Interaction</h3>
                  <br>
                </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-sm-12">
                  <div class="about-item">
                    <h4>
                      <strong>Problem Statement</strong>
                    </h4>
                    <p>Due to the increasing amount of data, visual data analysis has become more and more important. 
                      Visual data analysis makes it possible to use humans’ mental capabilities to quickly recognize 
                      visual patterns and find relevant information and make sense out of them. However, humans’ mental 
                      resources are not only required for the actual knowledge generation process but also for the 
                      operation of the analysis tools. The interaction with visualizations as data analysis tools is the 
                      focus of this dissertation. The fewer resources the user has to spend for operating the tool the more 
                      resources are left to interpret the visual representation of the data and make sense out of it.</p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="about-item">
                    <h4>
                      <strong>Approach to Solution</strong>
                    </h4>
                    <p>The research approach underlying this dissertation is based on the theory of Reality-based Interaction. 
                      Our physical and social environment is full of affordances, rules, and constraints that we are aware of 
                      and that frame our thinking and interaction with people and objects. A reality-based interaction technique 
                      makes use of this by aligning the operation of a digital system with our physical and social experiences 
                      from the real world. The goal is to create user interfaces that seem familiar to the user. In this 
                      dissertation user interfaces for the visual analysis of data based on reality-based visualization and 
                      interaction techniques are referred to as Reality-based Idioms. Reality-based Idioms often make use of 
                      novel input and output technologies, which, compared to traditional desktop systems, leverage the users’ 
                      preexisting and entrenched knowledge about the physical and social world to a much greater extent. The 
                      technologies examined in this dissertation include multi-touch displays, deformable displays, 
                      tangible user interfaces, and head-mounted augmented reality displays. </p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-12">
                  <div class="about-item">
                      <h4>
                        <strong>Contribution</strong>
                      </h4>
                      <p>The applied approach reflects the duality of Human-computer Interaction as a research and design discipline. 
                        In the sense of a research discipline, the thesis presents the theoretical foundations that explain when a user 
                        interface is perceived as reality-based and thus as familiar and summarizes them in the Model for Reality-based 
                        Idiom Design. In the sense of a design discipline, the practical applicability of the model is illustrated by three 
                        domain situations. These focus on navigating visual information spaces, filtering large amounts of data 
                        and, analyzing multi-dimensional data. In order to address these domain situations, the dissertation 
                        presents five Reality-based Idioms. The evaluation of these design artifacts helps to clarify the benefits 
                        of reality-based interaction for visual data analysis. With this approach, the work makes an important 
                        contribution to closing the gap between visualization and interaction research and to pointing out new 
                        ways to facilitate the operation of tools for visual data analysis.</p>
                    </div>
              </div>
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
