<aside id="portfolio" class="callout">
    <div class="text-vertical-center">
      <p class="heading">Project Portfolio</p>
    </div>
  </aside>

<section class="portfolio ">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">

        <p class="lead">I have worked on and managed numerous research and commercial projects. 
          The focus of these projects ranged from the interaction and visual design for mobile, desktop and Post-WIMP interfaces to the conception of novel data analysis approaches. 
          Within the projects, I have been responsible for the entire UX lifecycle from the requirements analysis to the design, prototyping, and evaluation. Thus, I have a profound knowledge about the methodical procedures necessary for implementing a successful user experience. 
        </p>

        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_ART.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalArt">
                <div class="content">ART - Augmented Reality Above the Tabletop to Analyze Multi-Dimensional Data</div>
              </button>

              <!-- Modal -->
              <div id="modalArt" class="modal fade" role="dialog">
                <div class="modal-dialog">              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">ART - Augmented Reality Above the Tabletop to Analyze Multi-Dimensional Data</h4>
                    </div>
                    <div class="modal-body">
                      <img class="img-portfolio img-responsive" src="img/portfolio_ART.jpg">
                      <br>
                      <p class="left-align">Immersive technologies such as augmented reality devices are opening up a new design space for the visual analysis of
                          data. We studied the potential of an augmented reality environment for the purpose of collaborative analysis of multi-dimensional,
                          abstract data. We present ART, a collaborative analysis tool to visualize multidimensional data in augmented
                          reality using an interactive, 3D parallel coordinates visualization. The visualization is anchored to a touch-sensitive
                          tabletop, benefiting from well-established interaction techniques. The results of group-based expert walkthroughs show
                          that ART can facilitate immersion in the data, a fluid analysis process, and collaboration. Your finings provide the means 
                          to foster the development of immersive technologies as tools for the collaborative analysis of multi-dimensional data.</p>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=5KMH1t_N5Ow&t=1s">Video</a> | 
                        <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1145/3173574.3173664">Paper</a>
                    </div>
                  </div>              
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_InformationSense.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalInfoSens">
                <div class="content">InformationSense - A Highly Flexible Augmented Cloth Display</div>
              </button>

              <!-- Modal -->
              <div id="modalInfoSens" class="modal fade" role="dialog">
                  <div class="modal-dialog">              
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">InformationSense - A Highly Flexible Augmented Cloth Display</h4>
                      </div>
                      <div class="modal-body">
                        <img class="img-responsive" src="img/portfolio_InformationSense_modal.jpg">
                        <br>
                        <p class="left-align">Deformable displays can provide two major benefits compared to rigid displays: Objects of different shapes and deformabilities,
                            situated in our physical environment, can be equipped with deformable displays, and users can benefit from their pre-existing
                            knowledge about the interaction with physical objects when interacting with deformable displays. We developed
                            InformationSense, a large, highly deformable cloth display. Our work contributes to two areas in the context of
                            deformable displays: It presents an approach for the tracking of large, highly deformable surfaces, and it presents one of the
                            first UX analyses of cloth displays that will help with the design of future interaction techniques for this kind of display. The
                            comparison of InformationSense with a rigid display interface unveiled the trade-off that while users are able to interact with
                            InformationSense more naturally and significantly preferred InformationSense in terms of joy of use, they preferred the rigid
                            display interfaces in terms of efficiency. This suggests that deformable displays are already suitable if high hedonic qualities
                            are important but need to be enhanced with additional digital power if high pragmatic qualities are required.</p>
                      </div>
                      <div class="modal-footer">
                          <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=BMOmL_AT5iA&t=2s">Video</a> | 
                          <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1145/3090053">Paper</a>
                      </div>
                    </div>              
                  </div>
                </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_CollectionDiver.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalCollection">
                <div class="content">CollectionDiver - A Tangible Filter Pipeline to Query Media Collections</div>
              </button>

              <!-- Modal -->
              <div id="modalCollection" class="modal fade" role="dialog">
                  <div class="modal-dialog">              
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">CollectionDiver - A Tangible Filter Pipeline to Query Media Collections</h4>
                      </div>
                      <div class="modal-body">
                        <img class="img-responsive" src="img/portfolio_CollectionDiver.jpg">
                        <br>
                        <p class="left-align">OPAC (Online Public Access Catalogue) interfaces, still the dominant access point to library catalogs, 
                          support systematic search but  are problematic for open-ended exploration and generally unpopular with visitors. As a result, libraries 
                          start subscribing to simplified search paradigms as exemplified by web-search systems. This is a problem considering that systematic 
                          search is a crucial skill in the light of today's abundance of digital information. Inspired by novel approaches to facilitating 
                          search, we designed CollectionDiver, an installation for supporting systematic search in public libraries. The CollectionDiver 
                          combines tangible and large display direct-touch interaction with a visual representation of search criteria and filters. We 
                          conducted an in-situ qualitative study to compare participants' search approaches on the CollectionDiver with those on the 
                          OPAC interface. Our findings show that while both systems support a similar search process, the CollectionDiver (1) makes 
                          systematic search more accessible, (2) motivates proactive search approaches by (3) adding transparency to the search process, 
                          and (4) facilitates shared search experiences. With CollectionDiver's design concepts we stimulate new ideas toward 
                          supporting engaging approaches to systematic search in the library context and beyond.</p>
                      </div>
                      <div class="modal-footer">
                          <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=DFjdn-warK0&t=2s">Video</a> | 
                          <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1145/2858036.2858549">Paper</a> |
                          <a target="_blank" rel="noopener noreferrer" href="https://hci.uni-konstanz.de/en/research/research-projects/completed-research-projects/lernort-bibliothek-bibliotheksservice-digital-und-real/">Website</a>
                      </div>
                    </div>              
                  </div>
                </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_Bib.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalExpe">
                <div class="content">Expedition - Accessing the Media Collection of Libraries through News Articels</div>
              </button>

              <!-- Modal -->
              <div id="modalExpe" class="modal fade" role="dialog">
                <div class="modal-dialog">              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Expedition - Accessing the Media Collection of Libraries through News Articels</h4>
                    </div>
                    <div class="modal-body">
                      <img class="img-portfolio img-responsive" src="img/portfolio_Bib.jpg">
                      <br>
                      <p class="left-align">
                          The Expedition system provides a direct link between different (digital) sources of inspiration and the 
                          library's media collection and thus offers library customers alternative access to the media items within 
                          this collection. The system was designed for use in public libraries and tested in the everyday library 
                          life of the Cologne City Library. On a large touch screen, current events are displayed in the form of 
                          news from a local newspaper as interactive tiles through which the user can freely browse. By touching a 
                          tile, the user shows his interest in a certain topic. The content of the centrally selected tile is enriched 
                          by further digital content in the form of tiles grouped around it (e.g. from sources such as Twitter news, 
                          map services, Wikipedia, Wikimedia Commons, an archive for journalistic work, a digital archive of analog 
                          everyday life). At the same time, a digital bookshelf displays the contents of the library's local stock 
                          data in the form of a digital 3D bookshelf that matches the respective news report. This creates a bridge 
                          between the everyday context and the media collection of the library.
                      </p>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=H9adDld22HE">Video</a> | 
                        <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1515/bfp-2016-0010">Paper</a> |
                        <a target="_blank" rel="noopener noreferrer" href="https://hci.uni-konstanz.de/en/research/research-projects/completed-research-projects/lernort-bibliothek-bibliotheksservice-digital-und-real/">Website</a>
                    </div>
                  </div>              
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_SmartAct.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalSmartAct">
                <div class="content">SmartACT - Mobile Applications to Promote Healty Eating and Pysical Activity</div>
              </button>

              <!-- Modal -->
              <div id="modalSmartAct" class="modal fade" role="dialog">
                  <div class="modal-dialog">              
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">SmartACT - Mobile Applications to Promote Healty Eating and Pysical Activity</h4>
                      </div>
                      <div class="modal-body">
                        <img class="img-portfolio img-responsive" src="img/portfolio_SmartAct.jpg">
                        <br>
                        <p class="left-align">Self-monitoring is an important part of behavior intervention
                            technologies. In order to increase the effectiveness of self-monitoring, we
                            do not only have to track data but also give feedback to the user. In the
                            interdisciplinary project SmartAct, we aim at developing and empirically
                            testing the effectiveness of an open access toolbox for mobile, real-time
                            interventions targeting healthy eating and physical activity. The SmartAct 
                            toolbox for behavior change is a set of tools for personal mobile
                            technology which decreases the implementation barrier for mobile interventions. 
                            It consists of tools for physical activity tracking, food journaling, questionnaires, 
                            notifications, feedback and interventions, workflow
                            management, data storage, and client-server synchronization.</p>
                      </div>
                      <div class="modal-footer">
                          <a target="_blank" rel="noopener noreferrer" href="http://ceur-ws.org/Vol-1658/">Paper</a> |
                          <a target="_blank" rel="noopener noreferrer" href="https://hci.uni-konstanz.de/en/research/research-projects/smartact-smartmobility/">Website</a>
                      </div>
                    </div>              
                  </div>
                </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_SmartExplore.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalSmartExplore">
                <div class="content">SmartEXPLORE - A Table-Based Visual Analytics Approach for Analyzing High-Dimensional Data</div>
              </button>

              <!-- Modal -->
              <div id="modalSmartExplore" class="modal fade" role="dialog">
                <div class="modal-dialog">              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">SmartEXPLORE - A Table-Based Visual Analytics Approach for Analyzing High-Dimensional Data</h4>
                    </div>
                    <div class="modal-body">
                      <img class="img-portfolio img-responsive" src="img/portfolio_SmartExplore.jpg">
                      <br>
                      <p class="left-align">SMARTexplore is a novel visual analytics technique to simplify the identification and 
                        understanding of clusters, correlations, and complex patterns in high-dimensional data. The analysis is integrated 
                        into an interactive table-based visualization, keeping a consistent and familiar representation during the analysis. 
                        The visualization is tightly coupled with pattern detection, subspace analysis, reordering, and layout algorithms. 
                        To increase the analyst's trust in the revealed patterns, SMARTexplore automatically selects and computes statistical 
                        measures based on dimension and data properties. While existing approaches to analyze high-dimensional data (e.g., 
                        planar projections and parallel coordinates) have proven to be effective, they typically have steep learning curves 
                        for non-visualization experts. Our evaluation, based on expert case studies, confirms that non-visualization experts 
                        successfully reveal patterns in high-dimensional data when using the SMARTexplore technique.</p>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" rel="noopener noreferrer" href="http://nbn-resolving.de/urn:nbn:de:bsz:352-2-mv29yhuqzckr3">Paper</a> |
                        <a target="_blank" rel="noopener noreferrer" href="https://smartexplore.dbvis.de/">Website</a>
                    </div>
                  </div>              
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_ControlRoom1.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalControlRoom1">
                  <div class="content">SpaceNavi - A Remote Controlled Multi-Focus-View for Traffic Control Rooms</div>
              </button>

              <!-- Modal -->
              <div id="modalControlRoom1" class="modal fade" role="dialog">
                  <div class="modal-dialog">              
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">SpaceNavi - A Remote Controlled Multi-Focus-View for Traffic Control Rooms</h4>
                      </div>
                      <div class="modal-body">
                        <img class="img-portfolio img-responsive" src="img/portfolio_ControlRoom1.jpg">
                        <br>
                        <p class="left-align">SpaceNavi is a holistic visualization and interaction concept for the monitoring and 
                          diagnosis of a large road network as well as the manipulation of process variables in the context of traffic 
                          control centers. In order to support the cooperative work, the concept of a multi-focus view in combination 
                          with content-sensitive navigation is pursued. The aim is to improve navigation in the road network, the 
                          availability of context-sensitive information and the manipulation of process variables in traffic control 
                          centers. </p>
                      </div>
                      <div class="modal-footer">
                          <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1524/9783486718782.43">Paper</a> |
                          <a target="_blank" rel="noopener noreferrer" href="https://hci.uni-konstanz.de/en/research/research-projects/completed-research-projects/holistic-workspace/">Website</a>                          
                      </div>
                    </div>              
                  </div>
                </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_ControlRoom2.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalControlRoom2">
                <div class="content">BackToTangibility - A Post-WIMP Perspective on Control Room Design</div>
              </button>

              <!-- Modal -->
              <div id="modalControlRoom2" class="modal fade" role="dialog">
                  <div class="modal-dialog">              
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">BackToTangibility - A Post-WIMP Perspective on Control Room Design</h4>
                      </div>
                      <div class="modal-body">
                        <img class="img-portfolio img-responsive" src="img/portfolio_ControlRoom2.jpg">
                        <br>
                        <p class="left-align">
                          In today's digital control rooms, desktop computers represent the most common interface for process control. 
                          Compared to their predecessors -- manual control actuators -- desktop computers enable quick and effective 
                          process intervention but they lack in process-related interaction qualities such as haptic feedback and the 
                          involvement of motor skills. Thus, design trade-offs have to be made to combine the strengths of both paradigms: 
                          today's processing power with the interaction qualities of former control room interfaces. In this paper related 
                          interaction concepts are presented and evaluated. In a control room scenario, participants were tasked with 
                          adjusting numerical values -- so-called process variables -- under two traditional conditions (mouse, keyboard) 
                          and two post-WIMP conditions (touch, tangible). Task completion time and recall accuracy of the adjusted values 
                          were measured. As a result, traditional desktop interaction proved to be faster, whereas control actions could 
                          be recalled significantly better using the tangible control elements. We therefore suggest providing both tangible 
                          control for process maintenance and traditional desktop interaction in critical situations that require quick intervention.
                        </p>
                      </div>
                      <div class="modal-footer">
                          <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1145/2598153.2598161">Paper</a> |
                          <a target="_blank" rel="noopener noreferrer" href="https://hci.uni-konstanz.de/en/research/research-projects/completed-research-projects/holistic-workspace/">Website</a>  
                      </div>
                    </div>              
                  </div>
                </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_SpacePhysics.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalSpaceFold">
                <div class="content">SpaceFold & PhysicLenses - Navigating Multi-Scale Spaces through Real-world Metaphors</div>
              </button>

              <!-- Modal -->
              <div id="modalSpaceFold" class="modal fade" role="dialog">
                <div class="modal-dialog">              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">SpaceFold & PhysicLenses - Navigating Multi-Scale Spaces through Real-world Metaphors</h4>
                    </div>
                    <div class="modal-body">
                      <img class="img-portfolio img-responsive" src="img/portfolio_SpacePhysics.jpg">
                      <br>
                      <p class="left-align">Many tasks performed in multiscale visual spaces require the user
                          to have several foci. Using bimanual interaction, multitouch
                          devices can facilitate the simultaneous definition and exploration
                          of several foci. However, multitouch is rarely used for multifocus
                          navigation, and may limit the interaction to a sequential definition
                          of areas of interest. We introduce two novel navigation techniques
                          that combine multiple foci and bimanual touch, and therefore
                          enable the isochronic definition of areas of interest, leading to
                          simultaneous multifocus navigation. SpaceFold folds the visual
                          space in the third dimension, allowing users to bring objects
                          closer to each other. Our technique enables a direct, bimanual
                          manipulation of a folded space and therefore provides high
                          flexibility. PhysicLenses uses multiple magnification lenses to
                          compare objects. Using a physics model, PhysicLenses introduces
                          a general solution for the arrangement of multiple lenses within
                          the viewport.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=wFF7yEjBtas&t=2s">Video</a> | 
                        <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1145/2598153.2598177">Paper</a>                        
                    </div>
                  </div>              
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <img class="img-portfolio img-responsive" src="img/portfolio_PhysicLenses.jpg">
              <button class="overlay" data-toggle="modal" data-target="#modalPhysicLenses">
                <div class="content">ERP</div>
              </button>

              <!-- Modal -->
              <div id="modalPhysicLenses" class="modal fade" role="dialog">
                <div class="modal-dialog">              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">ERP</h4>
                    </div>
                    <div class="modal-body">
                      <img class="img-portfolio img-responsive" src="img/portfolio_PhysicLenses.jpg">
                      <br>
                      <p class="left-align">???</p>
                    </div>
                    <div class="modal-footer">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=wFF7yEjBtas&t=2s">Video</a> | 
                        <a target="_blank" rel="noopener noreferrer" href="https://dx.doi.org/10.1145/2598153.2598177">Paper</a>               
                    </div>
                  </div>              
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /.row (nested) -->

        <div class="portfolio-carousel">
          <p class="lead">In addition to my professional life, my affinity for design and aesthetics as well as my practical attitude also influences my private life and the private projects I carry out.</p>
        
          <div id="carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#carousel" data-slide-to="0"></li>
                  <li data-target="#carousel" data-slide-to="1"></li>
                  <li data-target="#carousel" data-slide-to="2"></li>
                  <li data-target="#carousel" data-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                  <div class="item active">
                      <img src="img/bar.jpg" alt="Slide 1">
                      <div class="carousel-caption d-none d-md-block">
                        <h4>Conversion of an old caravan into a design bar</h4>
                      </div>
                  </div>
                  <div class="item">
                      <img src="img/kitchen.jpg" alt="Slide 2">
                      <div class="carousel-caption d-none d-md-block">
                        <h4>Interior design and build of living spaces</h4>
                      </div>
                  </div>
                  <div class="item">
                      <img src="img/bike.jpg" alt="Slide 3">
                      <div class="carousel-caption d-none d-md-block">
                        <h4>Conversion of an old Italian racing bike into a fixed gear bike</h4>
                      </div>
                  </div>
                  <div class="item">
                      <img src="img/boat.jpg" alt="Slide 3">
                      <div class="carousel-caption d-none d-md-block">
                        <h4>Full restoration of a Boesch mahogany runabout classic</h4>
                      </div>
                  </div>
              </div>
          </div>
        </div>



      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

</section>