<aside id="portfolio" class="callout">
    <div class="text-vertical-center">
      <p class="heading">Project Portfolio</p>
    </div>
  </aside>

<section class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_ART.jpg">
              </a>
              <div class="overlay">
                <div class="content">ART - Augmented Reality Above the Tabletop to Analyze Multi-Dimensional Data</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_InformationSense.jpg">
              </a>
              <div class="overlay">
                  <div class="content">InformationSense - A Highly Flexible Augmented Cloth Display</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_CollectionDiver.jpg">
              </a>
              <div class="overlay">
                  <div class="content">CollectionDiver - A Tangible Filter Pipeline to Query Media Collections</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_Bib.jpg">
              </a>
              <div class="overlay">
                  <div class="content">Expedition - Accessing the Media Collection of Libraries through News Articels</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_SmartAct.jpg">
              </a>
              <div class="overlay">
                  <div class="content">SmartACT - Mobile Applications to Promote Healty Eating and Pysical Activity</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_SmartExplore.jpg">
              </a>
              <div class="overlay">
                  <div class="content">SmartEXPLORE - A Table-Based Visual Analytics Approach for Analyzing High-Dimensional Data
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_ControlRoom1.jpg">
              </a>
              <div class="overlay">
                  <div class="content">SpaceNavi - A Remote Controlled Multi-Focus-View for Traffic Control Rooms</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_ControlRoom2.jpg">
              </a>
              <div class="overlay">
                  <div class="content">BackToTangibility - A Post-WIMP Perspective on Control Room Design</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_SpaceFold.jpg">
              </a>
              <div class="overlay">
                  <div class="content">SpaceFold - Navigating a Multi-Scale Space 
                    by Folding</div>
                </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="img/portfolio_PhysicLenses.jpg">
              </a>
              <div class="overlay">
                  <div class="content">PhysicLenses - Automatic Lens Arrangement with a Physics Engine</div>
                </div>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
