<section id="teaser" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>I am ...</h2>
        <p class="lead">
            ... a computer scientist with a focus on user experience research and design. During several years in academia and industry, 
            I gained profound knowledge about user research, visual and interaction design, prototyping, and qualitative and quantitative usability testing. 
            In general, I am passionate about designs, methods, and technologies which can help to make the interaction with computing systems feel natural and provide a better experience.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
